/* Reset some basic styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4a90e2, #9013fe);
  font-family: Arial, sans-serif;
  color: #fff;
}

#start-screen,
#color-selection-screen,
#game-over-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.player-selection {
  margin: 20px;
}

#player1-color,
#player2-color {
  padding: 10px;
  font-size: 16px;
}

#start-button,
#continue-button,
#return-home-button,
#start-over-button {
  padding: 20px 40px;
  font-size: 24px;
  background-color: #ff4081;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin: 10px;
}

#start-button:hover,
#continue-button:hover,
#return-home-button:hover,
#start-over-button:hover {
  background-color: #e91e63;
}

#error-message {
  margin-top: 10px;
}

#game-over-message {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Style for the game container */
#game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/* Game board table */
#board {
  width: 70%;
  height: 70%;
  border-spacing: 0;
  table-layout: fixed;
}

#board td {
  width: calc(100% / 7);
  height: calc(100% / 6);
  background-color: #f8f8f8;
  border: solid 1px #666;
  position: relative;
  padding: 0;
}

/* Pieces are div within game table cells: draw as colored circles */
.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transition: top 0.5s ease-in;
}

/* Column-top is table row of clickable areas for each column */
#column-top td {
  border: dashed 1px lightgray;
  cursor: pointer;
}

#column-top td:hover {
  background-color: gold;
}